<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">PSI CYCLES</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href="#home">Home</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#team">TEAM</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#contact">CONTACT US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- <div class="header">
 <span class="webheading">PSI Cycles</span>
  <span style="float:right">
  <button class="btn" ><a href="#home">HOME</a></button>
  <button class="btn"><a href="#about">ABOUT</a></button>
  <button class="btn">TEAM</button>
   <button class="btn">LOGIN</button>
  <button class="btn">SIGN UP</button></span>
</div> -->
<br><br><br>
   <!--  <div class="heading" id="home">HOME</div>
    <div class="subheading">Welcome to out website</div> -->
    <div class="container" id="home">
      <img src="https://i.pinimg.com/originals/f3/d4/3d/f3d43d63b97626994594c5860eaebeb5.jpg" alt="Snow">
      <button class="btn">JOIN US</button>
    </div>
    <br>
    
    <div class="heading" id="about">ABOUT</div>

    <div class="heading" id="team">OUR TEAM</div>

    <div class="heading" id="services">OUR SERVICES</div>

    <div class="bg" id="contact">
      <img src="https://www.entheosweb.com/images/backgrounds/blue/lines.jpg">
      <div class="container2">
        <div class="heading">CONTACT US</div>
      <form >
       <div class="form-group">
      <label for="name">Name</label>
      <input type="text" placeholder="Name*" class="form-control" id="name" required><br>
      </div>
      <div class="form-group">
        <label for="email">Email</label>  
      <input type="email" placeholder="Email*" class="form-control" id="email" required><br>
      </div>
      <div class="form-group">
        <label for="number">Number</label> 
      <input type="tel" placeholder="Number*" class="form-control" id="number" required><br>
      </div>
      <div class="form-group">
        <label for="message">Message</label> 
      <input type="text" rows="5" cols="60" placeholder="Message" class="form-control" id="message" required><br>
      </div>
    </form>
    <button class="sendbtn" style="float:center">SEND MESSAGE</button>
    </div>
   </div>


<div class="footer">
 Copyright @ PSI 2020</div>
